@use "../../core/src/assets/styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 9999px;

  .label {
    font-size: 14px;
    font-weight: 500;
  }

  &.color0 {
    background-color: variables.$blue-210;
    color: variables.$blue-130;
  }

  &.color1 {
    background-color: variables.$pink-20;
    color: variables.$pink-30;
  }

  &.color2 {
    background-color: variables.$green-130;
    color: variables.$blue-300;
  }

  &.color3 {
    background-color: variables.$yellow-30;
    color: variables.$orange-70;
  }

  &.color4 {
    background-color: variables.$green-30;
    color: variables.$green-20;
  }

  &.color5 {
    background-color: variables.$pink-40;
    color: variables.$blue-310;
  }

  &.color6 {
    background-color: variables.$yellow-40;
    color: variables.$yellow-50;
  }

  &.color7 {
    background-color: variables.$red-150;
    color: variables.$red-160;
  }
}
