.container {
  --_input-height: var(--bearlab-input-height, 2.75rem); /* 44px */
  --_input-border-radius: var(--bearlab-input-border-radius, 0.5rem); /* 8px */
  --_input-border-width: var(--bearlab-input-border-width, 0.125rem); /* 2px */
  --_input-padding-x: var(--bearlab-input-padding-x, 1rem); /* 16px */
  --_input-padding-y: var(--bearlab-input-padding-y, 0.625rem); /* 10px */
  --_input-font-size: var(--bearlab-input-font-size, 0.875rem); /* 14px */
  --_input-label-font-size: var(
    --bearlab-input-label-font-size,
    0.875rem
  ); /* 14px */
  --_input-label-font-weight: var(--bearlab-input-label-font-weight, 600);
  --_input-label-margin-bottom: var(
    --bearlab-input-label-margin-bottom,
    0.625rem
  ); /* 10px */
  --_input-icon-wrapper-width: var(
    --bearlab-input-icon-wrapper-width,
    3.25rem
  ); /* 52px */
  --_input-icon-size: var(--bearlab-input-icon-size, 1.25rem); /* 20px */
  --_input-password-toggle-size: var(
    --bearlab-input-password-toggle-size,
    1.375rem
  ); /* 22px */
  --_input-search-icon-size: var(
    --bearlab-input-search-icon-size,
    1.125rem
  ); /* 18px */
  --_input-font-size-error: var(
    --bearlab-input-font-size-error,
    0.875rem
  ); /* 14px */
  --_input-bottom-error: var(
    --bearlab-input-bottom-error,
    -1.25rem
  ); /* -20px */
  --_input-icon-size-error: var(
    --bearlab-input-icon-size-error,
    0.75rem
  ); /* 12px */
  --_input-icon-gap-error: var(
    --bearlab-input-icon-gap-error,
    0.5rem
  ); /* 8px */
  --_input-color-error: var(--bearlab-input-color-error, #f00438);
  --_input-shadow-color-error: var(--bearlab-input-shadow-color-error, #ffa4a4);
  --_input-border-color-focus: var(--bearlab-input-border-color-focus, #465fff);

  --_input-border-color: var(--bearlab-input-border-color, #e4e7ec);
  --_input-border-color-icon: var(--bearlab-input-border-color-icon, #e4e7ec);
  --_input-shadow: var(
    --bearlab-input-shadow,
    0 0.0625rem 0.125rem 0 #1018280d
  ); /* 0 1px 2px 0 */
  --_input-shadow-focus: var(
    --bearlab-input-shadow-focus,
    0 0 0 0.1875rem #465fff21
  ); /* 0 0 0 3px */
  --_input-color: var(--bearlab-input-color, #1f2937);
  --_input-placeholder-color: var(--bearlab-input-placeholder-color, #98a2b3);
  --_input-background: var(--bearlab-input-background, transparent);
  --_input-label-color: var(--bearlab-input-label-color, #344054);
  --_input-icon-color: var(--bearlab-input-icon-color, currentColor);

  :global([data-theme="dark"]) & {
    --_input-border-color: var(--bearlab-input-border-color, #1d2939);
    --_input-border-color-icon: var(--bearlab-input-border-color-icon, #1d2939);
    --_input-shadow: var(
      --bearlab-input-shadow,
      0 0.0625rem 0.125rem 0 #1018280d
    ); /* 0 1px 2px 0 */
    --_input-color: var(--bearlab-input-color, #ffffffe6);
    --_input-placeholder-color: var(
      --bearlab-input-placeholder-color,
      #ffffff4d
    );
    --_input-background: var(--bearlab-input-background, #111827);
    --_input-label-color: var(--bearlab-input-label-color, #98a2b3);
    --_input-icon-color: var(--bearlab-input-icon-color, #98a2b3);
  }

  display: flex;
  flex-direction: column;
  width: 100%;

  .inputLabel {
    color: var(--_input-label-color);
    font-size: var(--_input-label-font-size);
    font-weight: var(--_input-label-font-weight);
    margin-bottom: var(--_input-label-margin-bottom);

    span {
      color: var(--_input-color-error);
    }
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

  .inputWrapper {
    position: relative;

    &:focus-within {
      .beforeIcon {
        border-color: var(--_input-border-color-focus);
      }
    }

    .input {
      width: 100%;
      height: var(--_input-height);
      border-radius: var(--_input-border-radius);
      appearance: none;
      padding: var(--_input-padding-y) var(--_input-padding-x);
      font-size: var(--_input-font-size);
      background-color: var(--_input-background);
      color: var(--_input-color);
      box-shadow: var(--_input-shadow);
      caret-color: var(--_input-border-color-focus);
      border: var(--_input-border-width) solid var(--_input-border-color);
      transition:
        border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      &:focus {
        border-color: var(--_input-border-color-focus);
        box-shadow: var(--_input-shadow-focus);
      }

      &::placeholder {
        color: var(--_input-placeholder-color);
      }
    }
  }

  .inputWithSearch {
    padding-right: 3.125rem !important; /* 50px */
  }

  .inputWithPassword {
    padding-right: 3.125rem !important; /* 50px */
  }

  .inputWithCopy {
    padding-right: 3.75rem !important; /* 60px */
  }

  .inputWithCopyAndPassword {
    padding-right: 5.875rem !important; /* 94px */
  }

  .iconWrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--_input-height);
    width: var(--_input-icon-wrapper-width);
    color: var(--_input-icon-color);

    svg {
      width: var(--_input-icon-size);
      height: var(--_input-icon-size);
    }
  }

  .beforeIcon {
    left: 0;
    border-right: var(--_input-border-width) solid
      var(--_input-border-color-icon);
    padding: 0 0.0625rem 0 0.1875rem; /* 0 1px 0 3px */
    transition:
      border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    ~ .input {
      padding-left: 3.75rem; /* 60px */
    }
  }

  .afterIcon {
    right: 0;
    border-left: var(--_input-border-width) solid
      var(--_input-border-color-icon);
    padding: 0 0.125rem; /* 0 2px */
    transition:
      border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    ~ .input {
      padding-right: 3.75rem; /* 60px */
    }
  }

  .error {
    input {
      border-color: var(--_input-color-error) !important;
      box-shadow: 0 0 0 0.1875rem var(--_input-shadow-color-error) !important; /* 3px */
    }

    .beforeIcon {
      border-right-color: var(--_input-color-error);
    }

    .afterIcon {
      border-left-color: var(--_input-color-error);
    }
  }

  .passwordToggle {
    position: absolute;
    right: 1.25rem; /* 20px */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--_input-password-toggle-size);
    height: var(--_input-password-toggle-size);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--_input-icon-color);

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .passwordToggleWithCopy {
    right: 3.75rem; /* 60px */
  }

  .searchButton {
    position: absolute;
    right: 1.25rem; /* 20px */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--_input-icon-color);

    svg {
      width: var(--_input-search-icon-size);
      height: var(--_input-search-icon-size);
    }
  }

  .copyButton {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .viewError {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: var(--_input-bottom-error);
    font-size: var(--_input-font-size-error);
    width: max-content;

    svg {
      margin-right: var(--_input-icon-gap-error);
      width: var(--_input-icon-size-error);
      height: var(--_input-icon-size-error);
    }

    span {
      color: var(--_input-color-error);
    }
  }
}

@media (max-width: 48rem) {
  /* 768px */
  .inputLabel {
    svg {
      display: none;
    }
  }
}
