.container {
  --_tab-header-padding: var(--bearlab-tab-header-padding, 0.75rem); /* 12px */
  --_tab-header-border-radius-start: var(
    --bearlab-tab-header-border-radius-start,
    0.75rem
  ); /* 12px */
  --_tab-nav-border-radius: var(
    --bearlab-tab-nav-border-radius,
    0.5rem
  ); /* 8px */
  --_tab-nav-padding: var(--bearlab-tab-nav-padding, 0.25rem); /* 4px */
  --_tab-nav-scrollbar-height: var(
    --bearlab-tab-nav-scrollbar-height,
    0.375rem
  ); /* 6px */
  --_tab-nav-scrollbar-thumb-radius: var(
    --bearlab-tab-nav-scrollbar-thumb-radius,
    624.9375rem
  ); /* 9999px */
  --_tab-button-border-radius: var(
    --bearlab-tab-button-border-radius,
    0.375rem
  ); /* 6px */
  --_tab-button-padding-block: var(
    --bearlab-tab-button-padding-block,
    0.5rem
  ); /* 8px */
  --_tab-button-padding-inline: var(
    --bearlab-tab-button-padding-inline,
    0.75rem
  ); /* 12px */
  --_tab-button-font-size: var(
    --bearlab-tab-button-font-size,
    0.875rem
  ); /* 14px */
  --_tab-button-font-weight: var(--bearlab-tab-button-font-weight, 500);
  --_tab-button-gap: var(--bearlab-tab-button-gap, 0.5rem); /* 8px */
  --_tab-button-transition: var(
    --bearlab-tab-button-transition,
    0.2s ease-in-out
  );
  --_tab-notify-padding-block: var(
    --bearlab-tab-notify-padding-block,
    0.125rem
  ); /* 2px */
  --_tab-notify-padding-inline: var(
    --bearlab-tab-notify-padding-inline,
    0.5rem
  ); /* 8px */
  --_tab-notify-font-size: var(
    --bearlab-tab-notify-font-size,
    0.75rem
  ); /* 12px */
  --_tab-notify-border-radius: var(
    --bearlab-tab-notify-border-radius,
    624.9375rem
  ); /* 9999px */
  --_tab-content-padding: var(--bearlab-tab-content-padding, 1.5rem); /* 24px */
  --_tab-content-padding-top: var(
    --bearlab-tab-content-padding-top,
    1rem
  ); /* 16px */
  --_tab-content-border-radius-end: var(
    --bearlab-tab-content-border-radius-end,
    0.75rem
  ); /* 12px */
  --_tab-content-title-margin-bottom: var(
    --bearlab-tab-content-title-margin-bottom,
    0.25rem
  ); /* 4px */
  --_tab-content-title-font-size: var(
    --bearlab-tab-content-title-font-size,
    1.25rem
  ); /* 20px */
  --_tab-content-title-font-weight: var(
    --bearlab-tab-content-title-font-weight,
    500
  );
  --_tab-content-text-font-size: var(
    --bearlab-tab-content-text-font-size,
    0.875rem
  ); /* 14px */
  --_tab-vertical-gap: var(--bearlab-tab-vertical-gap, 1.875rem); /* 30px */
  --_tab-vertical-nav-gap: var(
    --bearlab-tab-vertical-nav-gap,
    0.625rem
  ); /* 10px */
  --_tab-vertical-button-min-height: var(
    --bearlab-tab-vertical-button-min-height,
    3.125rem
  ); /* 50px */

  --_tab-container-border-color: var(
    --bearlab-tab-container-border-color,
    #e4e7ec
  );
  --_tab-nav-bg: var(--bearlab-tab-nav-bg, #f2f4f7);
  --_tab-nav-scrollbar-track-bg: var(
    --bearlab-tab-nav-scrollbar-track-bg,
    #fff
  );
  --_tab-nav-scrollbar-thumb-bg: var(
    --bearlab-tab-nav-scrollbar-thumb-bg,
    #e4e7ec
  );
  --_tab-button-bg-active: var(--bearlab-tab-button-bg-active, #fff);
  --_tab-button-color-active: var(--bearlab-tab-button-color-active, #101828);
  --_tab-button-shadow-active: var(
    --bearlab-tab-button-shadow-active,
    0 0.0625rem 0.125rem 0 rgba(16, 24, 40, 0.05),
    0 0.0625rem 0.1875rem 0 rgba(16, 24, 40, 0.1)
  );
  --_tab-button-inactive-color: var(
    --bearlab-tab-button-inactive-color,
    #667085
  );
  --_tab-button-inactive-color-hover: var(
    --bearlab-tab-button-inactive-color-hover,
    #344054
  );
  --_tab-notify-bg: var(--bearlab-tab-notify-bg, #ecf3ff);
  --_tab-notify-color: var(--bearlab-tab-notify-color, #465fff);
  --_tab-content-border-color: var(--bearlab-tab-content-border-color, #e4e7ec);
  --_tab-content-title-color: var(--bearlab-tab-content-title-color, #1d2939);
  --_tab-content-text-color: var(--bearlab-tab-content-text-color, #667085);
  --_tab-underline-nav-border-color: var(
    --bearlab-tab-underline-nav-border-color,
    #e4e7ec
  );
  --_tab-underline-button-color-active: var(
    --bearlab-tab-underline-button-color-active,
    #465fff
  );
  --_tab-underline-button-border-color-active: var(
    --bearlab-tab-underline-button-border-color-active,
    #465fff
  );
  --_tab-underline-button-inactive-color: var(
    --bearlab-tab-underline-button-inactive-color,
    #667085
  );
  --_tab-underline-button-inactive-color-hover: var(
    --bearlab-tab-underline-button-inactive-color-hover,
    #344054
  );

  :global([data-theme="dark"]) & {
    --_tab-container-border-color: var(
      --bearlab-tab-container-border-color,
      #1d2939
    );
    --_tab-nav-bg: var(--bearlab-tab-nav-bg, #101828);
    --_tab-nav-scrollbar-track-bg: var(
      --bearlab-tab-nav-scrollbar-track-bg,
      transparent
    );
    --_tab-nav-scrollbar-thumb-bg: var(
      --bearlab-tab-nav-scrollbar-thumb-bg,
      #475467
    );
    --_tab-button-bg-active: var(
      --bearlab-tab-button-bg-active,
      rgba(255, 255, 255, 0.03)
    );
    --_tab-button-color-active: var(
      --bearlab-tab-button-color-active,
      rgba(255, 255, 255, 1)
    );
    --_tab-button-shadow-active: var(--bearlab-tab-button-shadow-active, none);
    --_tab-button-inactive-color: var(
      --bearlab-tab-button-inactive-color,
      #a4aab7
    );
    --_tab-button-inactive-color-hover: var(
      --bearlab-tab-button-inactive-color-hover,
      #e4e7ec
    );
    --_tab-notify-bg: var(
      --bearlab-tab-notify-bg,
      color-mix(in oklab, #465fff 15%, transparent)
    );
    --_tab-notify-color: var(--bearlab-tab-notify-color, #7592ff);
    --_tab-content-border-color: var(
      --bearlab-tab-content-border-color,
      #1d2939
    );
    --_tab-content-title-color: var(
      --bearlab-tab-content-title-color,
      rgba(255, 255, 255, 0.9)
    );
    --_tab-content-text-color: var(--bearlab-tab-content-text-color, #a4aab7);
    --_tab-underline-nav-border-color: var(
      --bearlab-tab-underline-nav-border-color,
      #1d2939
    );
    --_tab-underline-button-color-active: var(
      --bearlab-tab-underline-button-color-active,
      #7592ff
    );
    --_tab-underline-button-border-color-active: var(
      --bearlab-tab-underline-button-border-color-active,
      #7592ff
    );
    --_tab-underline-button-inactive-color: var(
      --bearlab-tab-underline-button-inactive-color,
      #98a2b3
    );
    --_tab-underline-button-inactive-color-hover: var(
      --bearlab-tab-underline-button-inactive-color-hover,
      #f2f4f7
    );
  }

  display: flex;
  flex-direction: column;

  .header {
    padding: var(--_tab-header-padding);
    border: 0.0625rem solid var(--_tab-container-border-color); /* 1px */
    border-top-left-radius: var(--_tab-header-border-radius-start);
    border-top-right-radius: var(--_tab-header-border-radius-start);
  }

  nav {
    display: flex;
    overflow-x: auto;
    border-radius: var(--_tab-nav-border-radius);
    background-color: var(--_tab-nav-bg);
    padding: var(--_tab-nav-padding);

    &::-webkit-scrollbar {
      height: var(--_tab-nav-scrollbar-height);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--_tab-nav-scrollbar-track-bg);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--_tab-nav-scrollbar-thumb-radius);
      background-color: var(--_tab-nav-scrollbar-thumb-bg);
    }

    button {
      display: inline-flex;
      align-items: center;
      border-radius: var(--_tab-button-border-radius);
      padding-block: var(--_tab-button-padding-block);
      padding-inline: var(--_tab-button-padding-inline);
      font-size: var(--_tab-button-font-size);
      font-weight: var(--_tab-button-font-weight);
      gap: var(--_tab-button-gap);
      transition: var(--_tab-button-transition);
      border: none;
      cursor: pointer;

      &:focus-visible {
        outline: 0.125rem solid var(--_tab-underline-button-color-active); /* 2px */
        outline-offset: 0.125rem; /* 2px */
      }

      &.active {
        background-color: var(--_tab-button-bg-active);
        color: var(--_tab-button-color-active);
        box-shadow: var(--_tab-button-shadow-active);
      }

      &.inactive {
        background-color: transparent;
        color: var(--_tab-button-inactive-color);

        &:hover {
          color: var(--_tab-button-inactive-color-hover);
        }
      }

      span {
        padding-block: var(--_tab-notify-padding-block);
        padding-inline: var(--_tab-notify-padding-inline);
        text-align: center;
        background-color: var(--_tab-notify-bg);
        color: var(--_tab-notify-color);
        border-radius: var(--_tab-notify-border-radius);
        font-size: var(--_tab-notify-font-size);
      }
    }
  }

  .content {
    padding: var(--_tab-content-padding);
    padding-top: var(--_tab-content-padding-top);
    border: 0.0625rem solid var(--_tab-content-border-color); /* 1px */
    border-top: 0;
    border-bottom-left-radius: var(--_tab-content-border-radius-end);
    border-bottom-right-radius: var(--_tab-content-border-radius-end);

    h3 {
      margin-bottom: var(--_tab-content-title-margin-bottom);
      font-size: var(--_tab-content-title-font-size);
      font-weight: var(--_tab-content-title-font-weight);
      color: var(--_tab-content-title-color);
    }

    p {
      font-size: var(--_tab-content-text-font-size);
      color: var(--_tab-content-text-color);
    }
  }

  &.underLine {
    .header {
      border-bottom: none;

      nav {
        border-bottom: 0.0625rem solid var(--_tab-underline-nav-border-color); /* 1px */
        background-color: transparent !important;
        padding: 0;
        border-radius: 0;

        button {
          box-shadow: none !important;
          background-color: transparent !important;
          border-bottom: 0.125rem solid
            var(--_tab-underline-button-color-active); /* 2px */
          border-radius: 0;

          &.active {
            color: var(--_tab-underline-button-color-active);
            border-color: var(--_tab-underline-button-border-color-active);

            svg {
              fill: var(--_tab-underline-button-color-active);
            }
          }

          &.inactive {
            color: var(--_tab-underline-button-inactive-color);
            border-color: transparent;

            &:hover {
              color: var(--_tab-underline-button-inactive-color-hover);

              svg {
                fill: var(--_tab-underline-button-inactive-color-hover);
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  /* 768px */
  .container {
    &.vertical {
      flex-direction: row;
      gap: var(--_tab-vertical-gap);

      .header {
        border: none;
        padding: 0;

        nav {
          flex-direction: column;
          overflow-x: unset;
          border: none;
          gap: var(--_tab-vertical-nav-gap);
          text-align: center;

          button {
            min-height: var(--_tab-vertical-button-min-height);
          }
        }
      }

      .content {
        border: none;
        padding: 0;
      }
    }
  }
}
