:root {
  --bearlab-otp-form-subHeader-font-size: 0.875rem; /* 14px */
  --bearlab-otp-form-subHeader-margin-bottom: 0.375rem; /* 6px */
  --bearlab-otp-form-inputs-gap: 0.5rem; /* 8px */
  --bearlab-otp-form-input-height: 2.75rem; /* 44px */
  --bearlab-otp-form-input-font-size: 1.25rem; /* 20px */
  --bearlab-otp-form-input-padding: 0.625rem 1rem; /* 10px 16px */
  --bearlab-otp-form-input-font-weight: 600;
}

:root[data-theme="light"] {
  --bearlab-otp-form-subHeader-color: #344054;
}

:root[data-theme="dark"] {
  --bearlab-otp-form-subHeader-color: #98a2b3;
}

.container {
  .subHeader {
    font-size: var(--bearlab-otp-form-subHeader-font-size);
    margin-bottom: var(--bearlab-otp-form-subHeader-margin-bottom);
    text-align: start;
    color: var(--bearlab-otp-form-subHeader-color);
  }

  .inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--bearlab-otp-form-inputs-gap);

    input {
      height: var(--bearlab-otp-form-input-height);
      width: 100%;
      font-size: var(--bearlab-otp-form-input-font-size);
      padding: var(--bearlab-otp-form-input-padding);
      font-weight: var(--bearlab-otp-form-input-font-weight);
      text-align: center;
    }
  }
}
