.container {
  --_checkbox-size: var(--bearlab-checkbox-size, 1.25rem); /* 20px */
  --_checkbox-border-width: var(
    --bearlab-checkbox-border-width,
    0.0625rem
  ); /* 1px */
  --_checkbox-border-radius: var(
    --bearlab-checkbox-border-radius,
    0.375rem
  ); /* 6px */
  --_checkbox-gap: var(--bearlab-checkbox-gap, 0.625rem); /* 10px */
  --_checkbox-font-size: var(--bearlab-checkbox-font-size, 0.875rem); /* 14px */
  --_checkbox-font-weight: var(--bearlab-checkbox-font-weight, 500);
  --_checkbox-check-size: var(
    --bearlab-checkbox-check-size,
    0.75rem
  ); /* 12px */
  --_checkbox-label-font-size: var(
    --bearlab-checkbox-label-font-size,
    0.875rem
  ); /* 14px */
  --_checkbox-label-font-weight: var(--bearlab-checkbox-label-font-weight, 600);
  --_checkbox-popover-border-radius: var(
    --bearlab-checkbox-popover-border-radius,
    0.5rem
  ); /* 8px */
  --_checkbox-popover-padding: var(
    --bearlab-checkbox-popover-padding,
    0.75rem
  ); /* 12px */
  --_checkbox-popover-font-size: var(
    --bearlab-checkbox-popover-font-size,
    0.8125rem
  ); /* 13px */
  --_checkbox-popover-font-weight: var(
    --bearlab-checkbox-popover-font-weight,
    500
  );
  --_checkbox-popover-top: var(
    --bearlab-checkbox-popover-top,
    -2.8125rem
  ); /* -45px */
  --_checkbox-popover-box-shadow: var(
    --bearlab-checkbox-popover-box-shadow,
    0 0.0625rem 0.0625rem 0 rgba(162, 184, 191, 0.274),
    0 -0.0625rem 0.0625rem 0.0625rem rgba(196, 205, 222, 0.119) inset,
    0 0 0 0.0625rem rgba(197, 206, 225, 0.383) inset
  );
  --_checkbox-font-size-error: var(
    --bearlab-checkbox-font-size-error,
    0.875rem
  ); /* 14px */
  --_checkbox-bottom-error: var(
    --bearlab-checkbox-bottom-error,
    -1.25rem
  ); /* -20px */
  --_checkbox-error-icon-margin-right: var(
    --bearlab-checkbox-error-icon-margin-right,
    0.5rem
  ); /* 8px */
  --_checkbox-error-icon-size: var(
    --bearlab-checkbox-error-icon-size,
    0.75rem
  ); /* 12px */

  --_checkbox-color: var(--bearlab-checkbox-color, #374151);
  --_checkbox-label-color: var(--bearlab-checkbox-label-color, #344054);
  --_checkbox-required-color: var(--bearlab-checkbox-required-color, #f04438);
  --_checkbox-bg-checked: var(--bearlab-checkbox-bg-checked, #465fff);
  --_checkbox-border-color-checked: var(
    --bearlab-checkbox-border-color-checked,
    #465fff
  );
  --_checkbox-bg-unchecked: var(--bearlab-checkbox-bg-unchecked, transparent);
  --_checkbox-border-color-unchecked: var(
    --bearlab-checkbox-border-color-unchecked,
    #d1d5db
  );
  --_checkbox-bg-disabled: var(--bearlab-checkbox-bg-disabled, #f3f4f6);
  --_checkbox-border-color-disabled: var(
    --bearlab-checkbox-border-color-disabled,
    #e5e7eb
  );
  --_checkbox-check-color: var(--bearlab-checkbox-check-color, #fff);
  --_checkbox-popover-bg: var(--bearlab-checkbox-popover-bg, #fff);
  --_checkbox-popover-color: var(--bearlab-checkbox-popover-color, #344054);
  --_checkbox-color-error: var(--bearlab-checkbox-color-error, #f00438);
  --_checkbox-color-focus: var(--bearlab-checkbox-color-focus, #465fff);

  :global([data-theme="dark"]) & {
    --_checkbox-color: var(--bearlab-checkbox-color, #e5e7eb);
    --_checkbox-label-color: var(--bearlab-checkbox-label-color, #98a2b3);
    --_checkbox-border-color-checked: var(
      --bearlab-checkbox-border-color-checked,
      #465fff
    );
    --_checkbox-border-color-unchecked: var(
      --bearlab-checkbox-border-color-unchecked,
      #374151
    );
    --_checkbox-bg-disabled: var(--bearlab-checkbox-bg-disabled, #374151);
    --_checkbox-border-color-disabled: var(
      --bearlab-checkbox-border-color-disabled,
      #374151
    );
  }

  position: relative;
  display: flex;
  cursor: pointer;
  height: fit-content;
  user-select: none;
  align-items: center;
  gap: var(--_checkbox-gap);
  font-size: var(--_checkbox-font-size);
  font-weight: var(--_checkbox-font-weight);
  color: var(--_checkbox-color);

  &:hover .popover,
  &:focus-within .popover {
    display: block !important;
  }

  .checkboxWrapper {
    position: relative;
    width: var(--_checkbox-size);
    height: var(--_checkbox-size);

    input {
      width: 100%;
      height: 100%;
      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;
      border: var(--_checkbox-border-width) solid
        var(--_checkbox-border-color-unchecked);
      border-radius: var(--_checkbox-border-radius);
      background-color: var(--_checkbox-bg-unchecked);
      margin: 0;

      &:checked {
        border-color: transparent;
        background-color: var(--_checkbox-bg-checked);
      }

      &:disabled {
        opacity: 0.6;
      }

      &:focus-visible {
        outline: 0.125rem solid var(--_checkbox-color-focus);
        outline-offset: 0.125rem;
      }
    }

    .iconChecked,
    .iconDisabled {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }

    .iconChecked {
      color: var(--_checkbox-check-color);
      width: var(--_checkbox-check-size);
      height: var(--_checkbox-check-size);
    }

    .iconDisabled {
      width: var(--_checkbox-check-size);
      height: var(--_checkbox-check-size);
    }
  }

  .checkboxLabel {
    color: var(--_checkbox-label-color);
    font-size: var(--_checkbox-label-font-size);
    font-weight: var(--_checkbox-label-font-weight);
    min-width: fit-content;

    span {
      color: var(--_checkbox-required-color);
    }
  }

  .popover {
    position: absolute;
    display: none;
    background-color: var(--_checkbox-popover-bg);
    border-radius: var(--_checkbox-popover-border-radius);
    padding: var(--_checkbox-popover-padding);
    color: var(--_checkbox-popover-color);
    z-index: 9999;
    font-weight: var(--_checkbox-popover-font-weight);
    font-size: var(--_checkbox-popover-font-size);
    box-shadow: var(--_checkbox-popover-box-shadow);
    width: max-content;
    top: var(--_checkbox-popover-top);
  }

  .viewError {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: var(--_checkbox-bottom-error);
    font-size: var(--_checkbox-font-size-error);
    width: max-content;

    svg {
      margin-right: var(--_checkbox-error-icon-margin-right);
      width: var(--_checkbox-error-icon-size);
      height: var(--_checkbox-error-icon-size);
    }

    span {
      color: var(--_checkbox-color-error);
    }
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;

  .checkboxWrapper {
    input {
      cursor: not-allowed;
    }
  }
}
