@use "../../core/src/assets/styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: fit-content;

  &:hover {
    .popover {
      display: block !important;
    }
  }

  .checkboxWrapper {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    input {
      width: 20px;
      height: 20px;
      appearance: none;
      cursor: pointer;
      border: 1px solid variables.$gray-630;
      border-radius: 6px;

      &:checked {
        border-color: transparent;
        background-color: variables.$blue-20;
      }

      &:disabled {
        opacity: 0.6;
      }
    }

    .iconChecked {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }

    .iconDisabled {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  .label {
    font-size: 14px;
    font-weight: 600;
    color: variables.$gray-610;

    span {
      color: variables.$red-110;
    }
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;

  .checkboxWrapper {
    input {
      cursor: not-allowed;
    }
  }
}

html[data-theme="dark"] .container {
  .checkboxWrapper {
    input {
      border: 1px solid variables.$gray-590;
    }
  }

  .label {
    color: variables.$gray-600;
  }
}
