@use "../../core/src/assets/styles/variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 10px;
  border-radius: 9999px;
  font-weight: 600;
  width: fit-content;

  svg {
    width: 100%;
    height: 100%;
  }

  .startIcon {
    margin-right: 4px;
    width: 12px;
  }

  .endIcon {
    margin-left: 4px;
    width: 12px;
  }
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 14px;
}

.lightPrimary {
  background-color: variables.$gray-120;
  color: variables.$blue-20;

  svg {
    fill: variables.$blue-20;
  }
}

.lightSuccess {
  background-color: variables.$gray-230;
  color: variables.$green-100;

  svg {
    fill: variables.$green-100;
  }
}

.lightError {
  background-color: variables.$gray-240;
  color: variables.$red-90;

  svg {
    fill: variables.$red-90;
  }
}

.lightWarning {
  background-color: variables.$gray-250;
  color: variables.$orange-30;

  svg {
    fill: variables.$orange-30;
  }
}

.lightInfo {
  background-color: variables.$gray-260;
  color: variables.$blue-10;

  svg {
    fill: variables.$blue-10;
  }
}

.lightLight {
  background-color: variables.$gray-620;
  color: variables.$gray-610;

  svg {
    fill: variables.$gray-610;
  }
}

.lightDark {
  background-color: variables.$gray-40;
  color: variables.$white;

  svg {
    fill: variables.$white;
  }
}

.solidPrimary {
  background-color: variables.$blue-20;
  color: variables.$white;

  svg {
    fill: variables.$white;
  }
}

.solidSuccess {
  background-color: variables.$green-20;
  color: variables.$white;

  svg {
    fill: variables.$white;
  }
}

.solidError {
  background-color: variables.$red-110;
  color: variables.$white;

  svg {
    fill: variables.$white;
  }
}

.solidWarning {
  background-color: variables.$orange-20;
  color: variables.$white;

  svg {
    fill: variables.$white;
  }
}

.solidInfo {
  background-color: variables.$blue-10;
  color: variables.$white;

  svg {
    fill: variables.$white;
  }
}

.solidLight {
  background-color: variables.$blue-190;
  color: variables.$white;

  svg {
    fill: variables.$white;
  }
}

.solidDark {
  background-color: variables.$gray-610;
  color: variables.$white;

  svg {
    fill: variables.$white;
  }
}

html[data-theme="dark"] .container {
  &.lightPrimary {
    background-color: color-mix(in oklab, variables.$blue-20 15%, transparent);
    color: variables.$blue-260;
  }

  &.lightSuccess {
    background-color: color-mix(in oklab, variables.$green-20 15%, transparent);
    color: variables.$green-20;
  }

  &.lightError {
    background-color: color-mix(in oklab, variables.$red-110 15%, transparent);
    color: variables.$red-110;
  }

  &.lightWarning {
    background-color: color-mix(
      in oklab,
      variables.$orange-20 15%,
      transparent
    );
    color: variables.$orange-40;
  }

  &.lightInfo {
    background-color: color-mix(in oklab, variables.$blue-10 15%, transparent);
    color: variables.$blue-10;
  }

  &.lightLight {
    background-color: color-mix(in oklab, variables.$white 5%, transparent);
    color: color-mix(in oklab, variables.$white 80%, transparent);
  }

  &.lightDark {
    background-color: color-mix(in oklab, variables.$white 5%, transparent);
    color: variables.$white;
  }

  &.solidLight {
    background-color: color-mix(in oklab, variables.$white 5%, transparent);
    color: color-mix(in oklab, variables.$white 80%, transparent);
  }
}
