:root {
  --bearlab-dropdown-z-index: 40;
  --bearlab-dropdown-margin-top: 0.5rem; /* 8px  */
  --bearlab-dropdown-border-radius: 0.75rem; /* 12px */
  --bearlab-dropdown-border-width: 1px;
  --bearlab-dropdown-padding: 0.75rem; /* 12px */
  --bearlab-dropdown-box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

:root[data-theme="light"] {
  --bearlab-dropdown-bg: #ffffff;
  --bearlab-dropdown-border-color: #e5e7eb;
}

:root[data-theme="dark"] {
  --bearlab-dropdown-bg: #1f2937;
  --bearlab-dropdown-border-color: #98a2b3;
}

.dropdownContainer {
  position: absolute;
  z-index: var(--bearlab-dropdown-z-index);
  right: 0;
  margin-top: var(--bearlab-dropdown-margin-top);
  border-radius: var(--bearlab-dropdown-border-radius);
  border: var(--bearlab-dropdown-border-width) solid
    var(--bearlab-dropdown-border-color);
  background-color: var(--bearlab-dropdown-bg);
  box-shadow: var(--bearlab-dropdown-box-shadow);
  padding: var(--bearlab-dropdown-padding);
}
