.dropdownList {
  --_dropdown-list-width: var(
    --bearlab-dropdown-list-width,
    16.25rem
  ); /* 260px */
  --_dropdown-list-padding-x: var(
    --bearlab-dropdown-list-padding-x,
    0.75rem
  ); /* 12px  */
  --_dropdown-list-group-padding-y: var(
    --bearlab-dropdown-list-group-padding-y,
    0.625rem
  ); /* 10px */
  --_dropdown-list-group-gap: var(
    --bearlab-dropdown-list-group-gap,
    0.25rem
  ); /* 4px   */
  --_dropdown-list-item-padding-y: var(
    --bearlab-dropdown-list-item-padding-y,
    0.625rem
  ); /* 10px */
  --_dropdown-list-item-padding-x: var(
    --bearlab-dropdown-list-item-padding-x,
    0.75rem
  ); /* 12px */
  --_dropdown-list-item-height: var(
    --bearlab-dropdown-list-item-height,
    2.5rem
  ); /* 40px  */
  --_dropdown-list-item-gap: var(
    --bearlab-dropdown-list-item-gap,
    0.75rem
  ); /* 12px  */
  --_dropdown-list-item-border-radius: var(
    --bearlab-dropdown-list-item-border-radius,
    0.5rem
  ); /* 8px */
  --_dropdown-list-icon-size: var(
    --bearlab-dropdown-list-icon-size,
    1.5rem
  ); /* 24px  */
  --_dropdown-list-icon-transition: var(
    --bearlab-dropdown-list-icon-transition,
    200ms ease
  );
  --_dropdown-list-divider-width: var(
    --bearlab-dropdown-list-divider-width,
    1px
  );

  --_dropdown-list-divider-color: var(
    --bearlab-dropdown-list-divider-color,
    #e5e7eb
  );
  --_dropdown-list-icon-color: var(--bearlab-dropdown-list-icon-color, #6b7280);
  --_dropdown-list-icon-color-hover: var(
    --bearlab-dropdown-list-icon-color-hover,
    #374151
  );

  :global([data-theme="dark"]) & {
    --_dropdown-list-divider-color: var(
      --bearlab-dropdown-list-divider-color,
      #353c49
    );
    --_dropdown-list-icon-color: var(
      --bearlab-dropdown-list-icon-color,
      #98a2b3
    );
    --_dropdown-list-icon-color-hover: var(
      --bearlab-dropdown-list-icon-color-hover,
      #d1d5db
    );
  }

  position: relative;

  button {
    width: fit-content;

    svg {
      fill: none !important;
      transition: transform var(--_dropdown-list-icon-transition);
    }
  }

  .active svg {
    transform: rotate(180deg);
  }

  .dropdown {
    left: 0;
    display: flex;
    width: var(--_dropdown-list-width);
    flex-direction: column;
    padding-inline: var(--_dropdown-list-padding-x);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: var(--_dropdown-list-group-gap);
      padding-block: var(--_dropdown-list-group-padding-y);
      border-bottom: var(--_dropdown-list-divider-width) solid
        var(--_dropdown-list-divider-color);

      &:last-child {
        border-bottom: none;
      }
    }

    .dropdownItem {
      display: flex;
      align-items: center;
      gap: var(--_dropdown-list-item-gap);
      padding: var(--_dropdown-list-item-padding-y)
        var(--_dropdown-list-item-padding-x);
      border-radius: var(--_dropdown-list-item-border-radius);
      height: var(--_dropdown-list-item-height);

      &:hover .icon {
        fill: var(--_dropdown-list-icon-color-hover);
      }

      .icon {
        flex-shrink: 0;
        width: var(--_dropdown-list-icon-size);
        height: var(--_dropdown-list-icon-size);
        fill: var(--_dropdown-list-icon-color);
      }
    }
  }
}
