@use "../../core/src/assets/styles/variables.scss";

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 24px;
  width: 24px;

  .loading {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10003;
    animation: spin 1s linear infinite;
    -webkit-animation: 1s spin linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
