@use "../../core/src/assets/styles/variables.scss";
@use "../../core/src/assets/styles/tableLayout.scss" as layout;

.container {
  @include layout.tableLayoutLight;

  .cellContent {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .cellIcon {
    width: 32px;
    height: 32px;
  }

  .cellText {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: variables.$gray-590;
  }

  .tableWrapper {
    border-bottom: 1px solid variables.$black-360;
  }

  .recordInfo {
    margin-top: 20px;
  }
}

html[data-theme="dark"] .container {
  @include layout.tableLayoutDark;

  .cellText {
    color: variables.$gray-60;
  }
}

@media (max-width: 1024px) {
  .container {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
